<%- include("templates/header") %>

<div class="container text-center mt-5">
    <h2 class="mb-4">You have been logged out.</h2>
    <p class="lead mb-4">Thanks for visiting NBA Fan Members! We hope to see you back soon.</p>

    <a href="/" class="btn btn-success btn-lg">
        Return to Home Page
    </a>
</div>

<%- include("templates/footer") %>