<%- include("templates/header") %> 
    <p>Hello, <%= username %>.</p>
    <img src="/<%= randomImage %>" alt="Random image" style="max-width:300px;"><br>
    <button onclick="window.location.href='/logout'">Sign out</button>
<%- include("templates/footer") %> 