<style>
    html, body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .main-content {
        flex: 1;
    }

    footer {
        margin-top: auto;
    }

    .footer-icon {
        font-size: 1.5rem;
    }
</style>

<footer class="bg-primary text-white py-2">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <small>COMP 2537 Assignment 2</small>

        <!-- Right side: Social Icons -->
        <div class="d-flex">
            <a href="https://twitter.com" class="btn btn-link text-white" target="_blank">
                <i class="bi bi-x footer-icon"></i> <!-- Twitter X icon with increased size -->
            </a>

            <a href="https://www.facebook.com" class="btn btn-link text-white" target="_blank">
                <i class="bi bi-facebook footer-icon"></i> <!-- Facebook icon with increased size -->
            </a>

            <a href="https://www.instagram.com" class="btn btn-link text-white" target="_blank">
                <i class="bi bi-instagram footer-icon"></i> <!-- Instagram icon with increased size -->
            </a>
        </div>
    </div>
</footer>
</body>
</html>
